# Node
node_modules/
/.next/
**/.next/
**/out/
dist/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
ENV/
*.env

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
npm-debug.log*
pip-log.txt

# Meilisearch data
meili_data/
